{% load static %}
{% load mathfilters %}
<div class="container">

    <label for="exampleFormControlInput1" class="form-label mt-5"><p class="text-muted mt-5 mb-0">どうしますか？</p></label>
    <form action="{% url 'chokin' %}" method="POST">
      {% csrf_token %}
      <div class="row mb-5">
        <div class="col-6 js-matchHeigtht">
          <div class="form-group">
          <a type="button" href="{% url 'select_proc' 1 %}"  class="{{proc1}}" type="submit" name="boxchoice4" id="box4" value="貯める">貯める</a>
          </div>
        </div>
        <div class="col-6 col-md-offset-3 js-matchHeigtht">
          <div class="form-group">
          <a type="button" href="{% url 'select_proc' 2 %}"  class="{{proc2}}" type="submit" name="boxchoice5" id="box5" value="使う">使う</a>
          </div>
        </div>
      </div>
    </form>

  </div>

    <label for="exampleFormControlInput1" class="form-label mt-5"><p class="text-muted mt-5 mb-0">お札の枚数を指定して金額を決めてください。最後は確定ボタンを押してください</p></label>
    <div class="row m-3">
    <div class="col-3 themed-grid-col">
        <div class="p-0">
          <p class="mb-0">お札の枚数指定</p>
          <p class="fs-6" style="display:inline">&ensp;(1,000円)</p>
          <a href="{% url 'proc_bill' 'thousands' '+' %}" class="btn btn-light fs-4 align-middle  m-0" type="button" id="button-plus" > <i class="fa fa-plus"></i></a>
          <p class="fs-4 align-middle  m-0" style="display:inline">&ensp;{{thousands}},000円</p>
          <a href="{% url 'proc_bill' 'thousands' '-' %}" class="btn btn-light fs-4 align-middle  m-0" type="button" id="button-minus" > <i class="fa fa-minus"></i> </a>
        </div>
      <div class="row">
        <div class="pb-0">
          <p class="fs-6" style="display:inline">(10,000円)</p>
          <a href="{% url 'proc_bill' 'millions'  '+' %}" class="btn btn-light fs-4 align-middle  mb-0" type="button" id="button-plus" > <i class="fa fa-plus"></i></a>
          <div class="fs-4 align-middle  m-0" style="display:inline">{% if millions == 0%}&ensp;{%endif%}{{millions|mul:10}},000円</div>
          <a href="{% url 'proc_bill' 'millions' '-' %}" class="btn btn-light fs-4 align-middle  mb-0" type="button" id="button-minus" > <i class="fa fa-minus"></i> </a>
        </div>
        
      </div>
    </div>
    <div class="col-3 themed-grid-col align-self-center">
          <p class="mb-0">金額</p>
          <p class="fs-4  mb-0">{{ price }},000円</p>
          <a class="btn btn-primary btn-sm" href="#" role="button">確定</a>
    </div>
  </div>

</div>