{% extends 'chokin/base.html' %}  
{% block content %}
{% load static %}

{% include 'chokin/boxes.html' %}
{% include 'chokin/boxprocprice.html' %}
<!-- {% include 'chokin/boxprice1.html' %}
{% include 'chokin/boxprice2.html' %} -->
<div class="container">
  <div class="row">
    <div class="col-10 col-xl-10 themed-grid-col">
    </div>
    <div class="col-2 col-xl-2 themed-grid-col">
      <a class="btn btn-secondary btn-sm" href="{% url 'resetchokin' %}" role="button">リセット</a>
    </div>
  </div>  

{% endblock  %}